/* CSS FOR SALE & RENT, FORUM, LOST & FOUND, SERVICES
I KNOW ITS HORRIBLE CSS SORRY. TEEHEE =) */

.loading_wheel {
    margin: 100px 200px 200px 100px;
}

.ant-btn-primary {
    background: #309C9C !important;
    border-color: #309C9C !important;
}

.no_image_placeholder_home_page {
    padding-right: 50px;
}